@font-face {
    font-family: sahil;
    src: url(./NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: sahil;
    font-weight: 100;
    src: url(./NeueHaasDisplayLight.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sahil;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    background-color: black;
}

.cursor {
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 99;
    position: fixed;
    opacity: 0;
}

.page1{
    min-height: 100vh;
    width: 100%;
    background-color: #000000;
    position: relative;
    padding: 0 2vw;
}

nav {
    padding: 3vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-part2 {
    display: flex;
    align-items: center;
    gap: 1vw;
}

nav img {
    height: 7vw;
    width: 17vw;
}

.nav-part2 h4 {
    padding: 10px 20px;
    border: 1.5px solid rgb(255, 255, 255);
    border-radius: 50px;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
}

.nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;

}

.nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-part2 h4 a{
    text-decoration: none;
    color: white;
    z-index: 9;
    position: relative;
}

.nav-part2 h4:hover a {
    color: black;
}

.center {
    height:70vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.735);
    padding: 4vw 1.5vw;
    margin-bottom: 5vw;
}

.left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

.center h1 {
    font-size: 8.5vw;
    line-height: 8.5vw;
    text-align: right;
}

.page1 .video {
    width: 100%;
    border-radius: 30px;
    position: relative;
}

.hero-shape {
    position: absolute;
    width: 36vw;
    height: 36vw;
    right: 0;
    top: 85vh;
}

.hero1{
    height: 100%;
    width: 100%;
    background-color: #e200de;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    position: absolute;
    filter: blur(20px);
}
.hero2{
    height: 30vw;
    width: 30vw;
    background-color: #e200de;
    border-radius: 50%;
    position: absolute;
    filter: blur(25px);
    animation-name: move2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.hero3{
    height: 30vw;
    width: 30vw;
    background-color: #e200de;
    border-radius: 50%;
    position: absolute;
    filter: blur(25px);
    animation-name: move1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes move1 {
    from {
        transform: translate(15%, -15%);
    }
    to {
        transform: translate(-15%, 15%);
    }
}
@keyframes move2 {
    from {
        transform: translate(-15%, 25%);
    }
    to {
        transform: translate(15%, -25%);
    }
}

.page2 {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: black;
}

.moving-text{
    display: flex;
    padding: 6vw 2vw;
    overflow-x: auto;
}

.moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    display: flex;
    align-items: center;
    animation: anime 10s linear infinite;
}

.moving-text h1{
    font-size: 9vw;
}

.dot {
    height: 40px;
    width: 40px;
    background-color: #e200de;
    border-radius: 50%;
    margin: 0 2vw;
}


@keyframes anime {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-100%);
    }
}

.page2-bottom {
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

.page2-bottom h1 {
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

.bottom-part2 {
    width: 20%;
}

.bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

.bottom-part2 p {
    padding-top: 3vw;
    font-weight: 100;
    font-size: 1.3vw;
}

.page2 .gooey {
    height: 30vw;
    width: 30vw;
    position: absolute;
    background-color: #ff9ef5;
    border-radius: 50%;
    top: 60%;
    left: 25%;
    filter: blur(25px);
    position: absolute;
}

.gooey1{
    height: 25vw;
    width: 25vw;
    background-color: rgba(246, 52, 243, 0.973);
    border-radius: 50%;
    position: absolute;
}

.gooey2{
    height: 30vw;
    width: 30vw;
    background-color: #e900e5;
    border-radius: 50%;
    animation: anime1  3.5s linear infinite alternate;
}

@keyframes anime1 {
    from {
        transform: translate(0, -5%);
    }
    to {
        transform: translate(-15%, 20%);
    }
}

.page3 {
    min-height: 100vh;
    width: 100%;
    background-color: black;
    padding: 6vw 0;
}

.projects{
    display: flex;
    align-items: center;
    padding: 3vw 3vw;
    gap: 1vw;
}

.projects .dot2{
    height: 1vw;
    width: 1vw;
    background-color: #e200de;
    border-radius: 50%;
}

.projects h6 {
    font-weight: 100;
    font-size: 1.2vw;
    word-spacing: 0.5vw;
}

.elem {
    height: 100px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 3vw;
    border-top: 1px solid grey;
    overflow: hidden;
}

.elem h1 {
    font-size: 3.5vw;
    position: relative;
    z-index: 9;
}

.elem:hover h1 {
    color: black;
}

.elem .overlay {
    height: 100%;
    width: 100%;
    background-color: #ff73fd;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay{
    top: 0;
}

.fixed-image {
    height: 28vw;
    width: 22vw;
    display: none;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 60%;
    top: 25%;
    background-size: cover;
    background-position: center;
}

.page4 {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.proj {
    padding-bottom: 5vw;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 100%;
    display: flex;
    align-items: center;
}

.proj h4 {
    padding: 15px 30px;
    border: 1.5px solid #fff;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.proj h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

.proj h4:hover::after {
    left: 0;
    bottom: 0;
    border-radius: 0;
}

.proj h4 a {
    text-decoration: none;
    z-index: 9;
    color: white;
    position: relative;
}

.proj h4:hover a {
    color: black;
}


.page4-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110vh;
    width: 97%;
    background-color: rgb(255, 81, 243);
    position: relative;
    border-radius: 20px;
}

.page4-bottom .left {
    padding: 0 2vw;
    height: 100%;
    width: 45%;
    /* background-color: crimson; */
    display: flex;
    justify-content: center;
    padding: 0vw 3.5vw;
    flex-direction: column;
}

.page4-bottom .right {
    padding: 1vw 2vw;
    height: 100%;
    width: 55%;
    /* background-color: yellow; */
}

.page4-bottom .right img {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
}

.page4-bottom .left-part1 {
    padding-bottom: 3vw;
}

.page4-bottom .left-part1 .design {
    font-size: 5vw;
    color: #000000;
    padding-left: 2.5vw;
    border-left: 2px solid red;
    cursor: pointer;
}
.page4-bottom .left-part1 .project {
    font-size: 5vw;
    color: #5a5656a9;
    padding-left: 1vw;
    border-left: 2px solid red;
    cursor: pointer;
}

.page4-bottom .left-part1 .execution {
    font-size: 5vw;
    color: #5a5656a9;
    padding-left: 1vw;
    border-left: 2px solid red;
    cursor: pointer;
}


.page4-bottom .left p {
    /* font-weight: 100; */
    width: 100%;
    text-align: left;
    font-size: 1.4vw;
    color: #000000;
}

.page5 {
    height: 100vh;
    width: 100%;
    padding: 5vw 1vw;
}

.pg5-heading {
    display: flex;
    align-items: center;
    padding: 4vw 4vw;
    gap: 1.5vw;
}

.page5 .pg5-heading .pg5-dot {
    height: 1vw;
    width: 1vw;
    background-color: #e200de;
    border-radius: 50%;
}

.page5 .pg5-heading h6 {
    font-weight: 100;
    font-size: 1.2vw;
    word-spacing: 0.2vw;
}

.swiper {
      width: 100%;
      height: 70%;
}

.swiper-slide {
      width: 30%;
      border-left: 1px solid #e3e2e2;
      padding: 0 2vw;
}

.swiper-slide img {
    padding: 2vw 2vw;
}

.swiper-slide p {
    font-weight: 100;
    padding-top: 2vw;
}

.page6{
    height: 100vh;
    width: 100%;
    background-color: rgba(252, 55, 255, 0.763);
    z-index: 70;
}

.page6 .upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7vw 5.5vw;
    z-index: 80;
}

.page6 .left {
    /* background-color: red; */
    font-size: 3vw;
    z-index: 90;
    
}

.page6 .left h4 {
    color: black;
    z-index: 99;
}

.page6 .right p{
    color: black;
    font-weight: 100;
    font-size: 2vw;
    z-index: 99;
}

.page6 .right{
    z-index: 90;
}

.page6 h1 {
    font-size: 20.2vw;
    color: black;
    z-index: 80;
    position: absolute;
}

.loader {
    height: 100%;
    width: 100%;
    background-color: #FFFFFF;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader h1 {
    font-size: 7vw;
    background: linear-gradient(to right, rgb(231, 4, 231), black);
    color: transparent;
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-delay: 1s;
}

.loader h1:nth-child(2){
    animation-delay: 2s;
}
.loader h1:nth-child(3){
    animation-delay: 3s;
}

@keyframes load {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.goovey1 {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 75;
    padding: 3vw;
    filter: blur(25px);
    animation-name: goovey1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.goovey2 {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 400px;
    z-index: 75;
    padding: 3vw;
    filter: blur(25px);
    animation-name: goovey2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}
.goovey3 {
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 800px;
    z-index: 75;
    padding: 3vw;
    filter: blur(25px);
    animation-name: goovey3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes goovey1 {
    0% {
        transform: translate(-100%, 50%);
    }
    50% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(100%, 50%);
    }
}

@keyframes goovey2 {
    0% {
        transform: translate(50%, -50%);
    }
    50% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(-100%, -70%);
    }
}
@keyframes goovey3 {
    0% {
        transform: translate(50%, 50%);
    }
    50% {
        transform: translate(0%, 0%);
    }
    100% {
        transform: translate(-100%, 100%);
    }
}


input {
    width: 100%;
    padding: 1vw;
    border: none;
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 5px;
    margin-top: 2vw;
}

input::placeholder{
    color: rgb(185, 185, 185);
    word-spacing: 0.1vw;
    padding-left: 1vw;
    font-size: 1.2vw;
}
